/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body { 
   max-width:23em;
    margin:auto;
    background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
background-position: center;
  background-color: beige;
}

div {
        max-width: 19em;
position: relative;
    left: 2em;
    right: 2em;
    top: 2em;
    bottom: 2em;
}

header {
    padding: 1em; 
    background-color: white;
}

main {
    padding: 1em; 
    background-color: white;
}

footer {
    margin: 2em;
    padding: 1em; 
    background-color: white;
}

nav {
    
}

ul {
    display: flex;
}

li { 
    display: block;
margin: auto;
    justify-content: center;
padding: 1em;
text-transform: uppercase;
color: green;}


img {
    max-width:100%;
}

section {
    margin-top: 1em;
    border-style: solid;
    border-color: pink;
    padding: 1em;
}

article {
  
}

h2 {
    text-align:center;
    color: green;
}

h3 {
    text-align:center;
    color: green;
}

p {
    text-align:center;
    color: green;
}

button {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    justify-content: center;
    
}

.insta {
    
}
