/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: beige;
}

div {
    left: 2em;
    right: 2em;
    top: 2em;
    bottom: 2em;
}

header {
    padding: 1em;
    background-color: white;
}

hr {
    border-style: solid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: green;
}

main {
    padding: 1em;
    background-color: white;
}

footer {
    padding: 1em;
    background-color: white;
}

nav {}

ul {
    display: flex;
}

li {
    display: block;
    margin: auto;
    justify-content: center;
    padding: 1em;
    text-transform: uppercase;
    color: green;
}


img {
    max-width: 100%;
}

.phone {
    position: relative;
    left: 14em;
    width: 3em;
}

.menu {
    position: relative;
    left: 14em;
    width: 6em;
}

article {
    margin-top: 1em;
    border-style: solid;
    border-color: pink;
    padding: 1em;
}

main {}

h2 {
    text-align: center;
    color: green;
}

h3 {
    text-align: center;
    color: green;
}

p {
    text-align: center;
    color: green;
}

button {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;

}

.insta {}
